<!DOCTYPE html>
<html>

<head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src='static/js/bootstrap.js'></script>
    <link rel='stylesheet' href='static/css/bootstrap.css'>

</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">首頁</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/salary">關於 API</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/resume">仲介履歷 (json)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/price">報價單 (行動表單)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/salary">薪資表 (行動表單)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/salary">open data 開放政府資料</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/salary">行程表 (旅遊業應用)</a>
        </li>
    </ul>
    <div class="container">
        <h3>{% block title %}{% endblock %}</h3>
        <br>
        {% block content %}{% endblock %}
    </div>
</body>

</html>