{% extends 'base.html' %}

{% block title %}
{{_('歡迎來到 ODF API 小教室')}}
{% endblock %}


{% block content %}
<div class='row justify-content-center'>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;height: 15rem">
            <div class="card-body">
                <h5 class="card-title">{{_('仲介履歷')}}</h5>
                <h6 class="card-subtitle mb-1 text-muted">{{_('基礎應用 1')}}</h6>
                <br>
                <p class="card-text">{{_('試想讓應徵者透過使用你們公司的系統填寫資料，就能自動生成美美的履歷提供給合作公司，是不是很美好呢?')}}</p>
                <a href="/resume" class="card-link">{{_(試試看!)}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;height: 15rem;">
            <div class="card-body">
                <h5 class="card-title">{{_('報價單')}}</h5>
                <h6 class="card-subtitle mb-1 text-muted">{{_('基礎應用 2')}}</h6>
                <br>
                <p class="card-text">{{_('在外談生意想要快速生成報價單給對方 ? 手邊沒有電腦能編輯 ? 來試試看 ODF 雲端 API 吧!讓你速度生成報價單，跑業務沒煩惱!')}}</p>
                <a href="/price" class=" card-link">{{_('試試看!')}}</a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}